body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #0073e6;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.meeting-rooms {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 столбца в ряду */
    gap: 20px; /* Промежуток между плитками */
}

.meeting-room {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

img {
    max-width: 100%;
    border-radius: 5px;
}

h2 {
    font-size: 1.2rem;
    margin-top: 10px;
}

p {
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0055aa;
}

.participants-list li {
    margin-bottom: 5px;
}

